{% extends 'base.html.twig' %}


{% block titre %}
{{ titre }} | {{ parent() }}
{% endblock %}


{% block body %}
<h1>{{ titre }}</h1>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt unde, dicta, accusamus quibusdam voluptate accusantium deserunt aliquid vitae dolor dolorem labore quaerat nemo debitis! Asperiores ad tempore sint quod fugiat! Laboriosam reiciendis perferendis maiores quam repudiandae placeat sunt officiis libero, animi suscipit! Vitae, nam recusandae hic molestiae ipsam exercitationem autem? 
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate exercitationem corrupti, asperiores, aspernatur veniam quasi ab explicabo rem provident rerum suscipit in incidunt cumque distinctio amet repellat dolore iste sapiente?
</p>
{% endblock %}